<div class="container">
    <div class="footer">
        <small>
           Copyright © <a href="#">The Complete Ruby on Rails Developer</a> by <a href="#">Nandini Reddy</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", pages_about_path %></li>
                
            </ul>
        </nav>
    </div>
</div>